<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-1 col-sm-1 text-xs-center order-sm-2">
        <ul class="list-inline mb-0">  
          {% if site.twitter %}
            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Twitter" data-original-title="Twitter">
              <a class="text-white" target="_blank" href="https://twitter.com/{{ site.twitter }}">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          {% endif %}
          {% if site.linkedin %}
            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="LinkedIn" data-original-title="LinkedIn">
              <a class="text-white" target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-1 col-sm-1 text-right text-xs-center order-sm-3">
        <ul class="list-inline mb-0">  
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="GitHub" data-original-title="GitHub">
            <a class="text-white" target="_blank" href="{{ site.org }}">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-10 col-sm-10 text-center py-2 order-sm-2">
				<div>
					<small class="text-white">© {{ 'now' | date: "%Y" }} {{ site.author }}.</small> 
					{% if site.privacy %}<small class="text-white"><a href="{{ site.privacy }}" target="_blank">Impressum</a>.</small>{% endif %}
          <small class="text-white">Site last updated: {{ site.time | date: '%B %e %Y %H:%M'  }}</small>
				</div>
				<div>
					<small class="text-white">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
              <img alt="Creative Commons License" style="border-width:0" height="1em" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
              This work is licensed under a 
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          </small>
				</div>
      </div>
    </div>
  </div>
</footer>
